@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 138 55% 96%;
    --foreground: 145 30% 16%;
    --card: 0 0% 100%;
    --card-foreground: 163 39% 13%;
    --popover: 0 0% 100%;
    --popover-foreground: 163 39% 13%;
    --primary: 138 62% 34%;
    --primary-foreground: 0 0% 100%;
    --secondary: 138 40% 88%;
    --secondary-foreground: 163 39% 13%;
    --muted: 138 40% 88%;
    --muted-foreground: 163 15% 30%;
    --accent: 138 40% 88%;
    --accent-foreground: 163 39% 13%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 138 40% 78%;
    --input: 138 40% 90%;
    --ring: 138 64% 35%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 145 18% 14%;
    --foreground: 145 64% 96%;
    --card: 145 18% 14%;
    --card-foreground: 145 64% 96%;
    --popover: 145 18% 14%;
    --popover-foreground: 145 64% 96%;
    --primary: 138 62% 34%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 138 40% 88%;
    --secondary-foreground: 210 40% 98%;
    --muted: 145 18% 14%;
    --muted-foreground: 145 64% 96%;
    --accent: 138 40% 88%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 145 18% 26%;
    --input: 145 18% 26%;
    --ring: 138 64% 35%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground min-h-screen;
  }
}

html {
  scroll-behavior: smooth;
}


img, svg, video {
  max-width: 100%;
  height: auto;
}
